div,span{
    color:red;
    background-color: yellow;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
p{
    color: blue;
    background-color: rgb(93, 152, 93);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}